.menu {
    &__list {
        min-height: 100%;
        padding: 50px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
        grid-gap: 40px;
        justify-content: center;
        justify-items: center;
        @media (max-width: 1000px) {
            grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
            padding: 30px;
        }
        @media (max-width: 1130px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
        }
        @media (max-width: 890px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
        }
        @media (max-width: 500px) {
            padding: 20px;
            grid-gap: 20px;
        }
}
}